
/* question - is it ok to keep css reset separate from same style or should we avoid duplicating selectors as much as possible*/
/* CSS Reset from David Sawyer McFarland's CSS: The Missing Manual, O'Reilly Media */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address,
variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ol {
  margin-left: 1.4em;
  list-style: decimal;
}
ul {
  margin-left: 1.4em;
  list-style:square;
}
img {
  border: 0;
}
* {
	font-family: 'Roboto', sans-serif;
}
/* End css reset */

img {
   width: 150px;
   height: 200px;
   float: left;
   margin-top: 4%;
   margin-right: 3%;
   border: 4px solid #820000;
   border-radius: 2px;
   padding: 2px;
}
/* question: better way to add margin? ok for me to use Roboto? (Sans-serif)*/
body {
	margin: 3% 3%;
	max-width: 960px;
	text-align: justify-left;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
#intro {
	margin-top: 4%;
}

#current, #summer, #hobbies {
	margin-top: 2%;
}

a:hover{
	cursor: pointer;
}

span {
	color: #820000;
	font-weight: bold;
}

