/* css reset */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address,
variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ol {
  margin-left: 1.4em;
  list-style: decimal;
}
ul {
  margin-left: 1.4em;
  list-style:square;
}
img {
  border: 0;
}
/* End css reset */

* {
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
 }

body {
  margin: 2%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2%;
  max-width: 960px;
}

.two-column {
  display: flex;
  flex-direction: row;
}

article {
  width: 45%;
  margin: 2.5% 2.5% 2.5% 2.5%;
  font-size: 12px;
  line-height: 150%;
}

.four-column {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: sans-serif;
}

.lower-half {
  width: 22.5%;
  margin: 2%;
  font-size: 12px;
}